.App {
  width: 70vw;
  height: 100%;
  margin: auto;
  position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .App {
    width: 100vw;
  }
}
