.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card-Link {
  margin: 1%;
  /*  flex: 1 1 100px; */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  flex-basis: 12em;
  background-color: white;
  text-decoration: none;
  color: black;
}
.pokeCardImg-group {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.card ul li,
.card ul {
  /* list-style: none; */
  text-align: left;
}

.card span {
  font-weight: 500;
}

.paginating-Links {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 20%;
}

.paginating-Links button {
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1%;
  margin: 1%;
  color: white;
  background-color: lightblue;
}
.paginating-Links button i {
  margin: 0 5px;
}

.paginating-Links *:hover {
  background-color: white;
  color: lightblue;
}
.pagination-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.pagination-bar input,
.pagination-bar select {
  border: 1px solid lightblue;
}
.pagination-bar input:hover,
.pagination-bar select:hover {
  border: 1px solid black;
  cursor: pointer;
}
